/*website background dkk*/
body {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*chatroom setting*/
.container {
  margin: 60px auto;
  background: #21de88;
  padding: 0;
  border-radius: 7px 7px 0px 0px;
  height: 500px;
  
}

/*Profile bot*/
.prosa-bot-image {
  height: 250px;
  width: 250px;
  cursor: pointer;
  border-radius: 250px;
  margin: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Bagian chat room
*/
input {
  border: none;
  border-radius: 30px;
  width: 90%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  display: inline-block;
  /* text-align: right; */
}
.chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}
.chat-bubble--left:after {
  left: 0;
  border-right-color: #eee;
  border-left: 0;
  margin-left: -20px;
}

/*user input*/
.chat-bubble--right:after {
  right: 0;
  border-left-color: #212529;
  border-right: 0;
  margin-right: -20px;
  text-align: left;
}

/* clear: both;
box-sizing: border-box;
position: relative;
width: auto;
height: auto;
padding: 4px;
background: #C28584;
border-radius: 10px;
margin: 10px 30px;
display: inline-block;
z-index: -1;
padding-left: 15px;
min-width: 50px;
padding-right: 15px; */
/*
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

/*user chat*/
.offset-md-9 .chat-bubble {
  background: #212529;
  color: #fff;
}

.offset-md-8 .chat-bubble {
  background: #212529;
  color: #fff;
}

.offset-md-6 .chat-bubble {
  background: #212529;
  color: #fff;
}

/*Input text dari user*/
.chat-box-tray {
  background: #21de88;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
  align-self: flex-end;
  
}

.chat-panel{
  height: 500px;
  overflow: auto;
}
.chat-box-tray .form-control{
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray input[type=text] {
  margin: 0 10px;
  padding: 6px 2px;
}


.sticky{
  position: sticky;
}

input[type=submit] {
  margin-right: 20px;
  margin-left: 20px;
  width: 70px;
  height: 20px;
}

